.item {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    cursor: pointer;
}

.item-img {
    width: 28px;
    height: 28px;
    margin-right: 18px;
}

.item-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #838383;
}